.Card{
    width: 300px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #3333;
    background-color: aliceblue;
    padding: 10px;  
    text-align: center;
    border: 2px solid #444;
}
.cont{
    color: #444;
}
